@charset "utf-8";

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #ecf0f3;
}

body {
	display: flex;
	flex-wrap: wrap;
}

.tick_s{
	--vaf:"0";
	--vab:"1";
	--vbf:"9";
	--vbb:"0";
	--vcf:"8";
	--vcb:"9";
	--sc: 2;
	--dl: -50399s;
	--bk: brown;
	--bk_color:black;
	--ft_color:white;
	--bd_radius:.2em;
	--path_u:polygon(0 0, 100% 0, 100% 50%, 0 50%);
	--path_d:polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
	font-size: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
	height: 1.4em;
	width: 1em;
	transform-style: preserve-3d;
	transform-origin: center;
	transform: rotateY(-43deg);
}

.tick_a,.tick_b,.tick_c {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transform-style: preserve-3d;
	transform-origin: center;
}

.tick_a::before,.tick_a::after,.tick_b::before,.tick_b::after,.tick_c::before,.tick_c::after  {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 0.2em;
	position: absolute;
	background-color: black;
	color: white;

	transform-origin: center;
}

.tick_a::before,.tick_b::before,.tick_c::before {
	background-color: var(--fc);
	clip-path: var(
	--path_u);
	transform: translateZ(0px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.tick_a::after,.tick_b::after,.tick_c::after {
	background-color: var(--bc);
	clip-path: var(
	--path_d);
	transform: rotateX(180deg) translateZ(1px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.tick_a::before{
	content: var(--vaf);
}
.tick_b::before{
	content: var(--vbf);
}
.tick_c::before{
	content: var(--vcf);
}
.tick_a::after{
	content: var(--vab);
}
.tick_b::after{
	content: var(--vbb);
}
.tick_c::after{
	content: var(--vcb);
}
/*秒*/
.tick_s {
	animation: tick_10 calc(30s * var(--sc)) calc((var(--dl) - 0.75s) * var(--sc)) steps(1) infinite both;
}
.tick_s>.tick_a {
	--fc: #f00;
	--bc: #a00;
	transform: rotateX(0deg);
	animation: tick_s_flip calc(3s * var(--sc)) calc((-0s + var(--dl)) * var(--sc)) linear infinite both;
}
.tick_s>.tick_b {
	--fc: #0f0;
	--bc: #0a0;
	transform: rotateX(0deg);
	animation: tick_s_flip calc(3s * var(--sc)) calc((-1s + var(--dl))  * var(--sc)) linear infinite both;
}
.tick_s>.tick_c {
	--fc: #00f;
	--bc: #00a;
	transform: rotateX(0deg);
	animation: tick_s_flip calc(3s * var(--sc)) calc((-2s + var(--dl))  * var(--sc)) linear infinite both;
}


@keyframes tick_s_flip{
	0%{
		z-index:1;
		transform:rotateX(0deg);
	}16.666666667%{
		z-index:1;
		transform:rotateX(0deg);
	}33.333333333%{
		z-index:1;
		transform:rotateX(-180deg);
	}66.666666667%{
		z-index: -1;
		transform:rotateX(-180deg);
	}83.333333333%{
		z-index:0;
		transform:rotateX(-360deg);
	}100%{
		z-index:1;
		transform:rotateX(-360deg);
	}
}

@keyframes tick_10{
	0.000000000%{--vaf:"0";--vab:"1";--vbf:"9";--vbb:"0";--vcf:"8";--vcb:"9";}
	3.333333333%{--vcf:"1";--vcb:"2";}
	6.666666667%{--vbf:"2";--vbb:"3";}
	10.000000000%{--vaf:"3";--vab:"4";}
	13.333333333%{--vcf:"4";--vcb:"5";}
	16.666666667%{--vbf:"5";--vbb:"6";}
	20.000000000%{--vaf:"6";--vab:"7";}
	23.333333333%{--vcf:"7";--vcb:"8";}
	26.666666667%{--vbf:"8";--vbb:"9";}
	30.000000000%{--vaf:"9";--vab:"0";}
	33.333333333%{--vcf:"0";--vcb:"1";}
	36.666666667%{--vbf:"1";--vbb:"2";}
	40.000000000%{--vaf:"2";--vab:"3";}
	43.333333333%{--vcf:"3";--vcb:"4";}
	46.666666667%{--vbf:"4";--vbb:"5";}
	50.000000000%{--vaf:"5";--vab:"6";}
	53.333333333%{--vcf:"6";--vcb:"7";}
	56.666666667%{--vbf:"7";--vbb:"8";}
	60.000000000%{--vaf:"8";--vab:"9";}
	63.333333333%{--vcf:"9";--vcb:"0";}
	66.666666667%{--vbf:"0";--vbb:"1";}
	70.000000000%{--vaf:"1";--vab:"2";}
	73.333333333%{--vcf:"2";--vcb:"3";}
	76.666666667%{--vbf:"3";--vbb:"4";}
	80.000000000%{--vaf:"4";--vab:"5";}
	83.333333333%{--vcf:"5";--vcb:"6";}
	86.666666667%{--vbf:"6";--vbb:"7";}
	90.000000000%{--vaf:"7";--vab:"8";}
	93.333333333%{--vcf:"8";--vcb:"9";}
	96.666666667%{--vbf:"9";--vbb:"0";}
	100.000000000%{--vaf:"0";--vab:"1";--vbf:"9";--vbb:"0";--vcf:"8";--vcb:"9";}
}

