@charset "utf-8";
:host(.test){
    --border-color:#bdbdbd;	
}
:host(my-splitter[vertical]){
	cursor: w-resize; 
	margin: 2px 0;
	border: 2px dotted var(--border-color);
}
:host(my-splitter[horizontal]){
	cursor: n-resize; 
	margin: 2px 0;
	border: 3px dotted var(--border-color);
}
:host(my-splitter:hover){
/*  border-color:var(--color); */
	border-style:dashed;
}