@charset "utf-8";
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
	position: relative;
	z-index: 0;
}
div{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;	
}
canvas{
	width: 100%;
	height: 100%;
	background-color: antiquewhite;
	position: absolute;
}

input[type="range"]{
	position: relative;
	right: -100%;
	display: block;
	top: 0;
	transform: translateX(-120%);
}

input:not(:checked) + div{
	display: none;
}